.container-fluid {
    padding-left : 0 !important;
    padding-right: 0 !important;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    display        : flex !important;
    flex-direction : row !important;
    justify-content: space-between !important;
    align-items    : center !important;
}

.botoes button {
    margin-left: 10px;
}